<h1>Create a Restaurant</h1>
<p><%= @error %></p>
<form action="/restaurants" method="post">
  <label>Name</label>
  <input type="text" name="name">
  <label>Location</label>
  <input type="text" name="location">
  <label>Cuisine</label>
  <input type="text" name="cuisine">
  <button type="submit">Add Restaurant</button> 
</form>
