<h1><% @restaurant.name %></h1>
 <h2><%= @restaurant.name %></h2>
   <p><%= @restaurant.location %></p>
   <p><%= @restaurant.cuisine %></p>
   <form action="/restaurants/<%= @restaurant.id %>" method="post">
     <input type="hidden" name="_method" value="delete">
     <button type="submit">Delete Restaurant</button> 
   </form>
